.mug:hover > ul {
  display: block;
}
.ulClass:hover > ul {
  display: flex;
}
.ulDrawerClass:hover > ul {
  display: block;
  position: relative;
}
.bottle:hover > ul {
  display: block;
}
.photo:hover > ul {
  display: block;
}